@media (min-width: 1024px){
    #nav-ul{
        display: flex !important;
    }
    #nav-ul1{
        display: block !important;
    }
}
@media (max-width: 1023px){
    :root{
        --transitionTime: 0.4s;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10%;
    }
    nav{
        justify-content: center;
    }
    nav{
        background-color: rgba(231, 183, 162, 1);
    }
    nav ul{
        display: none;
        width: 100%;
        flex-direction: column;
        right: 0;
        top: 100px;
        transform: translateY(0);
        background-color: rgba(231, 183, 162, 1);
        background-image: linear-gradient(to right, rgba(245, 243, 245, 0.1), rgba(245, 243, 245, 0.1));
        padding: 10px 0;
        position: absolute;
        top: 70px;
    }
    nav ul li{
        display: block;
        text-align: center;
    }
    nav ul a{
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-size: calc(.5vw + 12px);
        color: white;
    }
    .logo{
        position: absolute;
        /* top: 50%; */
        left: 10%;
        /* transform: translateY(-50%); */
    }
    .logo-big{
        display: none;
    }
    .logo-small{
        display: block!important;
        height: 64px;
        width: fit-content;

    }
    .logo-small img{
        height: 100%;
        width: auto;
    }
}