@media (max-width: 1300px){
    .hero-content h1{
        font-size: 40px;
        padding: 35px 0;
        /* ad */
    }
    .page-content{
        width: 800px;
    }
    #hero{
        padding: 0px 0 150px 0;
    }
    .hero-cover-div{
        flex-direction: column;
    }
    .hero-content{
        padding: 40px 0 0 0;
    }
    .read-more-btn{
        left: 20%;
    }
    .work-conteiner{
        gap: 10px;
    }
    .compositions-content{
        gap: 10px;
    }
    .composition{
        width: 200px;
        height: 200px;
    }
    .audio-video-container {
        padding: 15px 80px 10px 80px;
    }
    .audio-video-container .header {
        margin-top:-30px;
    }    
    .videos{
        flex-direction: column;
    }
    .video{
        width: 350px;
    }
    .video-play-window{
        width: 700px;
        height: 450px;
    }
    .pictures{
        width: 500px;
        flex-direction: column;
    }
    .picture{
        height: fit-content;
        width: 450px;
    }
    .reviews-conteiner{
        flex-direction: column;
    }
    .review:first-child{
        border-bottom: 2px solid rgba(191, 146, 112, .9) ;
        border-radius: 2px;
    }
    .events-conteiner{
        width: 500px;
    }
    .event{
        width: 300px;
        height: 250px;
    }
    #contact{
        margin: 120px auto;
        width: 600px;
        padding: 10px 0;
    }
}
@media (min-width: 1024px){
    nav ul{
        display: flex !important;
    }
}
@media (max-width: 1023px){
    :root{
        --transitionTime: 0.4s;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10%;
    }
    nav{
        justify-content: center;
    }
    nav{
        background-color: rgba(231, 183, 162, 1);
    }
    nav ul{
        display: none;
        width: 100%;
        flex-direction: column;
        right: 0;
        top: 100px;
        transform: translateY(0);
        background-color: rgba(231, 183, 162, 1);
        background-image: linear-gradient(to right, rgba(245, 243, 245, 0.1), rgba(245, 243, 245, 0.1));
        padding: 20px 0;
        position: absolute;
    }
    nav ul li{
        display: block;
        text-align: center;
    }
    nav ul a{
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-size: calc(.5vw + 14px);
        color: white;
    }
    .logo{
        position: absolute;
        /* top: 50%; */
        left: 10%;
        /* transform: translateY(-50%); */
    }
    .logo-big{
        display: none;
    }
    .logo-small{
        display: block!important;
        height: 64px;
        width: fit-content;

    }
    .logo-small img{
        height: 100%;
        width: auto;
    }
}
@media (max-width: 1023px){
    .page-content{
        width: 700px;
    }
    .audio-video-container {
        padding: 20px;
    }
    .footer-links{
        width: 40%;
    }
    .footer-logo{
        width: 40%;
    }
}
@media (max-width: 900px){
    .page-content{
        width: 600px;
    }
    .work-conteiner h4{
        margin-top: 50px;
    }
    .compositions-content{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .composition{
        width: 320px;
        height: 260px;
        background-size: cover;
        border-radius: 15px;
        padding: 0 10px;
        display: flex;
        align-items: end;
    }
    .video-play-window{
        width: 600px;
        height: 400px;
    }
    .review-img img:hover{
        transform: scale(1.6);
    }
    footer{
        margin-top: 50px;
        padding: 50px 0 100px 0;
    }
    .footer-logo{
        font-size: 40px;
    }
    .footer-nav a{
        font-size: 16px;
    }
    .footer-links{
        gap: 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .logo{
        font-size: 24px;
    }  
    nav ul a{
        font-size: calc(.5vw + 16px);
    }
    .page-content{
        width: 100%;
        box-shadow: none;
        background-color: rgba(255, 255, 255, .75);
        padding: 60px 0;
        border-radius: 0px;
        margin-top: 0px;
    }
    .hero-img{
        width: auto;
        height: 350px;
    }
    .hero-img img{
        filter: drop-shadow(5px 5px 10px rgb(226, 205, 196));
    }
    .hero-content h1{
        color: rgba(0, 0, 0, 0.6);;
        font-size: 50px;
        font-weight: 900;
        padding: 50px 20px 5px 20px;
        line-height: 45px;
    }
    .hero-content h3{
        font-size: calc(.5vw + 14px);
    }
    .coa-links{
        gap: 10px;
    }
    .about-text{
        width: fit-content;
        max-width: 500px;
        padding: 0 30px;
    }
    #work{
        padding: 0 0 120px 0;
    }
    #audio-video-pictures{
        /* width: 100%; */
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }
    .audio-video-container {
        width: fit-content;
        border: 0;
        border-radius: 0;
        padding: 20px 0;
    }
    .video-play-window{
        width: 90%;
        height: 50vw;
    }
    .pictures{
        width: fit-content;
        height: fit-content;
        border-radius: 40px;
        padding: 55px 10px 25px 10px;
    }
    .picture{
        height: auto;
        width: 350px;
    }
    .picture-window-cover{
        display: none;
    }
    .picture-window{
        display: none;
    }
    .reviews-conteiner{
        display: flex;
        padding: 0px 0 80px 0;
    }
    .review-text p{
        width: fit-content;
        max-width: 500px;
        padding: 0 30px;
    }
    .review-text span{
        position: relative;
        right: 40px;
        font-size: 14px;
    }
    #events{
        padding: 0 0 100px 0px;
    }
    .events-conteiner{
        width: 80%;
    }
    .event{
        width: 220px;
        height: 200px;
        gap: 10px;
        padding: 10px 30px 0 30px;
        box-shadow: 3px 3px 10px rgba(59, 96, 114, .4);
    }
    .event-title{
        font-size: 20px;
    }
    .event-location{
        font-size: 17px;
    }
    #contact{
        margin: 120px auto;
        width: 90%;
        padding: 10px 0;
    }
    #contact .section-heading{
        font-size: 22px;
    }
    #contact-wrapper .contact-info{
        font-size: 14px;
    }
    footer{
        margin-top: 100px;
        width: 100%;
        position: relative;
        left: 0;
        padding: 100px 0 140px 0;
    }

    .footer-mail{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .footer-coa-links{
        flex-direction: column-reverse;
        align-items: center;
        width: 30%;
        padding: 0 0 0 50px;
    }
}

@media (max-width: 650px){
    .hero-content h1{
        font-size: 38px;
    }
    #myVideo{
        width: 400px;
    }
    .see-more-btn{
        left: 70%;
        
    }
    .event-title{
        font-size: 18px;
        font-weight: 600;
    }
    .event-location{
        font-size: 16px;
    }
    .event-date{
        font-size: 16px;
    }
    .event-time{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    #form-wrapper{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    #form-wrapper form{
        width: 100%;
    }
    .sender-info{
        flex-direction: column;
        gap: 10px;
    }
    .input-wrapper, .sender-msg{
        width: 100%;
    }
    .sender-msg{
        height: 150px;
    }
}
@media (max-width: 4250px){
    
.composition{
    width: 260px;
    height: 240px;
}
}
@media (max-width: 424px){
    #myVideo{
        width: 300px;
    }
}
@media (max-width: 375px){
    .hero-img{
        width: 300px;
        height: 300px;
        /* border-radius: 20px; */
        border-radius: 74% 26% 78% 22% / 39% 72% 28% 61%;
    }
    .coa-links{
        flex-direction: column;
        align-items: center;
    }
    .video{
        width: 300px;
    }
    .picture{
        width: 300px;
    }
    .footer-coa-links{
        margin: 0;
        padding: 0 0 0 30px;
    }
}